.login{
 background-color: #FFFFFF;
 border: 2px solid #797979;
 border-radius: 5px;
 color: black;
 padding: 20px 34px;
 width: 160px;
 margin-top: 20px;
 text-align: center;
 display: inline-block;
 font-size: 20px;
 font-family: "proxima nova";
 cursor: pointer;
}
.login:hover {
  background-color: #FFFF80;
}
.back {
  float: right;
  margin-right:40px;
  margin-top: 15px;
  background-color: #FFFFFF;
  border: 2px solid #797979;
  border-radius: 5px;
  color: black;
  padding: 20px 34px;
  width: 100px;
  margin-top: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-family: "proxima nova";
  cursor: pointer;
}
.back:hover {
  background-color: #FFFF80;
}
.logout {
 float: right;
 margin-right:40px;
 margin-top: 15px;
 background-color: #333333;
 border: 2px solid #797979;
 border-radius: 5px;
 color: white;
 padding: 20px 34px;
 width: 100px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 font-family: "proxima nova";
}
.logout:hover {
  background-color: #FFFFFF;
  color: black;
}
.main_button {
  background-color: #FFFF80;
  border: 2px solid #797979;
  color: black;
  padding: 20px 20px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "proxima nova";
  margin-left: 40px;
  margin-top: 15px;
  cursor: pointer;
}
.button1 {
  background-color: #FFFFFF;
  border: 2px solid #797979;
  color: black;
  width: 142px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "proxima nova";
  margin-left: 40px;
  margin-top: 15px;
  cursor: pointer;
}
.button2 {
  background-color: #FFFF80;
  border: 2px solid #797979;
  color: black;
  width: 142px;
  height: 25px;
  text-align: center;
  text-decoration: inherit;
  display: inline-block;
  font-size: 16px;
  font-family: "proxima nova";
  margin-left: 40px;
  margin-top: 15px;
  cursor: pointer;
}
.line {
  border: 5px solid #797979;
  border-radius: 5px;
}
.linkki {
  margin-left: 40px;
  font-family: "proxima nova";
  font-size: 16px;
}
#input1 {
  margin-top: 20px;
  margin-left: 30px;
  border: 2px solid #797979;
}
#input2 {
  margin-left: 72px;
  border: 2px solid #797979;
}
table{
  margin-top: 20px;
  margin-left: 40px;
}

th{
  border: 2px solid #797979;
  background-color: lightgrey;
}
td {
  border: 2px solid #797979;
}
.box {
  margin: auto;
  margin-top: 20px;
  border: 2px solid #797979 ;
  padding: 10px;
  height: 300px;
  width: 350px;
  text-align: center;
}
#box1 {
  margin: auto;
  margin-top: 30px;
  border: 2px solid #797979 ;
  display:block;
  padding: 10px;
  height: 350px;
  width: 200px;
  text-align: center;
}
